* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.common_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img_container div {
  text-align: center;
}

.img_container ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 10px 20px 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  background-color: #0a0a0a;
  color: #fff;
  cursor: pointer;
}

.img_container ul li:hover {
  background-color: #fff;
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
  margin: 4px 9px 19px 9px;
}

#catContainer {
  border: 3px solid #0a0a0a;
  width: 603px;
  height: 510px;
}

#catContainer h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

#catContainer img {
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 395px;
}

#catContainer p {
  margin-top: 10px;
  font-size: 40px;
}